:root{
    --mii-btn-border: 8px;
}

body{
    animation: bgscroll-24 2s infinite linear;
    overflow: hidden;
}
div.miicontainer{
    display: flex;
    flex-wrap: wrap;
}
button.mii{
    border: none;

    font-size:larger;
    border-radius: var(--mii-btn-border);
    padding: 0;
    backdrop-filter: blur(5px);
    background: transparent;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}
button.mii p{
    color: #00000099;
    margin: 0px;
}
button.mii:hover{
    background: transparent;
    background-color: transparent;
}
button .miiIcon{
    border-radius: var(--mii-btn-border) var(--mii-btn-border) 0 0;
    min-width: 10ch;
    background: var(--shine), url(../assets/grid.svg);
    background-blend-mode: normal, hard-light;
    background-color: #ffffff00;
    width: 175px;
    aspect-ratio: 1;
    animation: bgscroll-48 2s infinite linear backwards;
    animation-play-state:paused;
    transition: 1s;
}
button:hover .miiIcon, button:focus .miiIcon{
    animation-play-state:running;
    animation-fill-mode:both;
}
div#beforeEditor[fade = ""]{
    position: relative;
    animation: popupfadein 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-direction: reverse;
    animation-fill-mode: forwards;
}
div#editor{
    animation: chatdivpopup 0.4s, bgscroll-48 2s infinite linear;
    box-shadow: 0px 0px 6.8px #929292;
    background: url(../assets/grid.svg), linear-gradient(180deg, #EAEAEA 0%, #DEDEDE 100%);
    background-blend-mode:soft-light, normal;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: 50vw 50vw;
}
@media (max-width: 700px){
    div#editor{
        grid-template-rows: 50vh 50vh;
        grid-template-columns: 100vw;
    }
}
div#editor div{
    background-color: transparent;
}
div#editor div#a{
    background: transparent;
    box-shadow: -10px 0px 10px transparent;
    backdrop-filter: blur(4px);
}